<div class="adicionar">
    <div class="title">
        <a ng-href="#/home" class="button-left icon ion-chevron-left">Voltar</a>
        <span class="titulo">{{title}}</span> 
        <span class="button-right icon ion-checkmark-round" ng-click="adicionar()" ng-show="vlDespesa > 0">Feito</span>
    </div>
    <div class="page">
        <div class="input-icon">
            <span class="label ion-social-usd"></span>
            <input class="input-android" type="tel" ng-model="vlDespesa" placeholder="Digite o valor">
        </div>
        <div class="input-icon">
            <span class="label ion-android-storage"></span>
            <input type="hidden" ng-model="categoria">
            <input class="input-android" id="categoria" type="text" value="{{categoria.stCategoria}}" placeholder="Digite a categoria" ng-change="listCategorias()" ng-model="categoriaAux">
            <ul class="categoria-lista" ng-show="categorias.length > 0">
                <li ng-repeat="c in categorias" ng-click="addCategoria(c)">{{c.stCategoria}}</li>
            </ul>
        </div>
        <div class="input-icon">
            <span class="label ion-android-calendar"></span>
            <input class="input-android" type="date" ng-model="dtDespesa" placeholder="Digite a data">
        </div>
        <div class="input-icon">
            <span class="label ion-android-note"></span>
            <textarea id="observacao" class="input-android" ng-keyup="textAreaAdjuste($event)" ng-model="stObservacao" placeholder="Observação"></textarea>
        </div>
    </div>    
</div>

