<div class="content">
    <div class="home">
        <div class="grid">
            <div class="row logo">
                <!--<p class="icon "></p>-->
                <span class="title ion-arrow-graph-up-right">Finanças</span> 
            </div>
            <div class="row">
                <a href="#/adicionar" class="column">
                    <p class="icon ion-plus-round"></p>
                    <p class="label">Adicionar</p>
                </a>
                <a href="#/visualizar" class="column">
                    <p class="icon ion-document"></p>
                    <p class="label">Visualizar</p>
                </a>
            </div>
            <div class="row">
                <div class="column">
                    <p class="icon ion-gear-a"></p>
                    <p class="label">Configuraçoes</p>
                </div>
                <div class="column">
                    <p class="icon ion-information"></p>
                    <p class="label">Sobre</p>
                </div>
            </div>
        </div>    
    </div>
</div>

