<div class="visualizar" ng-class="classe">
    <div class="title">
        <a ng-href="#/home" class="button-left icon ion-chevron-left">Voltar</a>
        <span class="titulo">{{title}}</span> 
        <a ng-href="{{urlAdd}}" class="button-right">Adicionar</a>
    </div>
    <ul class="lista">
        <li ng-repeat="d in despesas" ng-swipe-left="swipeLeft($index)" ng-swipe-right="swipeRight($index)" class="list-row">
            <ul class="item index-{{$index}}">
                <li class="valor">{{d.vlDespesa | currency:'R$ '}}</li>
                <li class="data">{{d.dtDespesa}}</li>
                <li class="categoria">{{d.stCategorias}}</li>
            </ul>
            <ul class="item-exluir">
                <button class="icon ion-ios7-trash-outline" ng-click="excluir(d)"></button>
            </ul>
        </li>
    </ul>
    <!--            <table>
                    <thead>
                        <tr>
                            <th class="id">#</th>
                            <th class="valor">Valor</th>
                            <th class="data">Data</th>
                            <th class="categoria">Categorias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in despesas">
                            <td class="id">{{d.cdTransacao}}</td>
                            <td class="valor">{{d.vlDespesa}}</td>
                            <td class="data">{{d.dtDespesa}}</td>
                            <td class="categoria"><p>{{d.stCategorias}}</p></td>
                        </tr>
                    </tbody>
                </table>-->
</div>
