<% include ../header %>
<div class="container">
	
	<form role="form" action="/entrar" method="post" class="form-signin">
		<h2>Por favor faça o login</h2>
		<input type="email" class="form-control" placeholder="Endereço de Email" name="usuario[email]" required autofocus>
	    <input type="password" class="form-control" placeholder="Senha" name="usuario[senha]" required>
		<button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
	</form>
</div>

