/* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  make transparent link selection, adjust last value opacity 0 to 1.0 
    -webkit-box-sizing: border-box;  Safari/Chrome, other WebKit 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    text-decoration: none;
}

body {
    background-color: #EB4A24;   
    -webkit-touch-callout: none;                 prevent callout to copy image, etc when tap to hold 
    -webkit-text-size-adjust: none;              prevent webkit from resizing text to fit 
    -webkit-user-select: none;                   prevent copy paste, to allow, change 'none' to 'text' 
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    width:100%;
}
.content{
    height: 100%;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.content-adicionar{
    background-color: #FFF;
    padding: 20px;
}
.home{
    background-color:#EB4A24;   
    height: 100%;
    width: 100%;
}
.grid{
    background: -moz-radial-gradient(circle, #EB4A24, #BD3617);
    border: 2px solid #BD3617;
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;
}
.row{
    border-bottom: 1px solid #FFF;
    float: left;
    position: relative;
    width: 100%;
}
.home .row{
    min-height: 125px;
    height: 33%;
}
.home .line-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
.adicionar .title{
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.adicionar .row:first-child{
    height: 54px;
    padding: 10px;
}

.adicionar .valor{
    height: 95px;

}
.adicionar .valor .label{
    border-right: 1px solid #CCC;
    color: #222;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    padding: 13px;
    top: 2px;
    z-index: 2;
}
.adicionar .valor input{
    font-size: 24px;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    text-align: right;
    width: 100%;
}
.adicionar .center{
    margin: auto;
    position: relative;
    width: 90%;
}
.column{
    border-right: 1px solid #FFF;
    color: #FFF;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}
.adicionar .row{
    padding: 20px;
}
.column:last-child{
    border-right: none;
}
.row:last-child{
    border-bottom: none;
}
.column .icon{
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.column .label{
    font-size: 120%;
    height: auto;
    margin-top: 0px;
    text-align: center;
}
.adicionar{
    background-color:#EB4A24;   
    bottom: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.adicionar .button{

    font-size: 20px;
    padding: 15px;
    width: 49%;
}
.button-cancel{
    background-color: #E62C22;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    float: left;
}
.button-add{
    background-color: #47A447;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    float: right;
}


// Animacao 
.view-animate-container{
    perspective: 1000;
}
.view-animate{
    backface-visibility: hidden;
}
.view-animate.ng-enter, .view-animate.ng-leave {
    transform: rotateY(180deg);
    transition: 0.3s;
    transform-style: preserve-3d;
}*/
