*{
    box-sizing: border-box; 
    font-family: "Roboto", "Droid Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #EB4A24;   
    box-sizing: border-box;
    font-family: "Roboto", "Droid Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}
.content{
    bottom: 15px;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.grid{
    background: -moz-radial-gradient(circle, #EB4A24, #BD3617);
    border: 2px solid #BD3617;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.title{
    background-color: #FFF;
    height: 54px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.title span, .title a{
    display: block;
    position: absolute;
}
.title .titulo{
    font-weight: bold;
    margin-top: 18px;
    text-align: center;
    width: 100%;
}
.title .button-left{
    left: 0px;
}
.title .button-right{
    right: 0px;
}
.title .button-left, .title .button-right{
    color: #EB4A24;
    padding: 18px;
    z-index: 2;
}
.input-android{
    /*background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;*/
    background: bottom left linear-gradient(#444, #444) no-repeat, bottom center linear-gradient(#444, #444) repeat-x, bottom right linear-gradient(#444, #444) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px;
    border: none;
    color: #000;
    font-size: 18px;
    height: 30px;
    outline: none;
}
.input-android:focus{
    /*background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;*/
    background: bottom left linear-gradient(#000, #000) no-repeat, bottom center linear-gradient(#000, #000) repeat-x, bottom right linear-gradient(#000, #000) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px; 
}  
.input-android::-webkit-input-placeholder {
    color: #000;
}
.despesa .input-android::-webkit-input-placeholder {
    color: #FFF;
}
.input-icon{    
    float: left;
    height: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 20px;
    position: relative;
    width: 100%;
}
.input-icon .input-android{
    padding-bottom: 8px;
    padding-left: 30px;
    width: 100%;
}
.input-icon .label{
    color: #000;
    font-size: 14px;
    height: 14px;
    left: 30px;
    line-height: 14px;
    margin-top: -12px;
    top: 50%;
    position: absolute;
    width: 14px;
}
.input-icon .label.ion-social-usd{
    font-size: 15px;
}
.page{
    bottom: 0px;
    float: left;
    position: absolute;
    /* overflow: hidden; */
    top: 54px;
    width: 100%;
}

/*=============== Home ================*/
.home{
    background-color:#EB4A24;   
    height: 100%;
    width: 100%;
}
.home .row{
    border-bottom: 1px solid #FFF;
    float: left;
    height: 40%;
    position: relative;
    width: 100%;
}
.home .row:last-child{
    border: none;
}

.home .logo{
    background-color: rgba(255,255,255,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #EB4A24;
    height: 20%;
    position: relative;
}
.home .logo span{
    bottom: 50%;
    font-size: 32px;
    margin-bottom: -25.25px;
    position: absolute;
    text-align: c   enter;
    width: 100%;
}
.home .column{
    color: #FFF;
    float: left;
    height: 100%;
    position: relative;
    text-decoration: none;
    width: 50%;
    box-sizing: border-box;
}
.home .column{
    border-right: 1px solid #FFF;
}
.home .column:last-child{
    border-right: none;
}
.home .column p{
    text-align: center;
}
.home .column .icon{
    font-size: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 48px;
}
.home .column .label{
    font-size: 16px;
    position: absolute;
    top: 60%;
    width: 100%;
}

/*=============== Adicionar ================*/
.adicionar{
    height: 100%;
    width: 100%;
}
.adicionar .grid{
    border: none;
}
.adicionar .row{
    border-bottom: 1px solid #FFF;
    float: right;
    height: auto;
    position: relative;
    width: 100%;
}
.adicionar .valor{
    height: auto;
    position: relative;
}
.adicionar .valor .label{
    background-color: #EEE;
    border-right: 1px solid #CCC;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    color: #EB4A24;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    position: absolute;
    padding: 8px 6px 8px 15px;
    top: 0px;
    z-index: 2;
}
.adicionar .input{
    height: 31px;
    margin: 20px auto;
    position: relative;
    width: 90%;
}
.adicionar .valor input{
    box-sizing: border-box;
    color: #EB4A24;
    margin: auto;
    padding: 6px;
    padding-left: 50px;
    text-align: right;
    width: 100%;
}
.adicionar .cloud{
    height: 164px;
}
.adicionar .cloud input, .adicionar .data input, .adicionar .observacao input{
    box-sizing: border-box;
    color: #EB4A24;
    font-size: 14px;
    margin: auto;
    padding: 6px;
    width: 100%;
}
.adicionar .cloud .span{
    background-color: #D93E1A;
    border: 1px solid #BD3617;
    border-radius: 8px;
    color: #EB4A24;
    font-size: 16px;
    height: 83px;
    margin-top: 5px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.adicionar .cloud span{
    background: #FFF;
    border-radius: 5px;
    display: block; 
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 6px 12px;
}
.adicionar .observacao {
    height: 83px;
}
.adicionar .categoria-lista{
    background-color: #FFF;
    border: 1px solid #FFF;
    height: 150px;
    left: 20px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow-y: scroll;
    top: 29px;
    width: 70%;
    z-index: 3;
}
.adicionar .categoria-lista li{
    background-color: #FFF;
    border-bottom: 1px solid #000;
    padding: 10px 10px 10px 52px;
    color: #000;
}
.despesa .input-icon span, .despesa .input-icon input{
    color: #FFF;
}
/* ========== VISUALIZAR =========== */
.visualizar{
    height: 100%;
    width: 100%;
}
.despesa{
    background-color: #E50100;
    
}
.receita{
    background-color: #77CC33;
}
.visualizar .row{
    border-bottom: 1px solid #FFF;
    float: right;
    height: auto;
    position: relative;
    width: 100%;
}
.visualizar .lista{
    bottom: 0px;
    float: left;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1px 0px;
    position: absolute;
    top: 54px;
    width: 100%;
}
.visualizar .item{
    box-sizing: border-box;
    color: #000;
    float: left;
    height: 70px;
    margin: 0px;
    margin-bottom: 0px;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
}
.despesa .item{
    background-color: #FFF;   
    border-bottom: 1px solid #e74c3c;
}
.receita .item{
    background-color: #FFF;   
    border-bottom: 1px solid #77CC33;
    transition: width .3s;
}

.visualizar .item .data{
    box-sizing: border-box;
    font-size: 18px;
    right: 10px;
    position: absolute;
    text-align: right;
    width: 100%;
}
.visualizar .item .categoria{
    font-size: 18px;
    font-weight: bold;
    left: 10px;
    position: absolute;
}   
.visualizar .item .valor{
    float: left;
    position: relative;
    margin: 28px 0px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space:nowrap; 
}
.view-animate{
    height: 100%;
    position: absolute;
    width: 100%;
}
.list-row{
    height: 70px;
    position: relative;
    width: 100%;
}
.item-exluir button{
    background-color: #F00;
    border: none;
    color: #FFF;
    font-size: 28px;
    height: 69px;
    right: 0px;
    top: 0px;
    margin: 0;
    position: absolute;
    width: 60px;
}