#home .graficos{
    /*border-bottom: 1px solid #FFF;*/
    display: block;
    float: left;
    height: 70%;
    position: relative;
    overflow: hidden;
    margin-top: 0px;
    width: 100%;
    z-index: 1;
    background-color: #000;    
}
#home .buttons{
    height: 30%;
    width: 100%;
    position: relative;
    float: left;
}

#home .chart{
    margin: 25px auto;
    width: 100%;
}
#home .rn-carousel-container{
    height: 100%;
}
#home .chart div div a{
    display: none!important;
}

#home .rn-carousel-control{
    color: #FFF;
    z-index: 100;
}
#home .rn-carousel-indicator span{
    color: #AAA;
}
#home .rn-carousel-indicator span.active{
    color: #FFF;
}
#home .rn-carousel-indicator{
    background: none;
    bottom: 5px;
    z-index: 100;
    /* color: #0FF; */
    display: block;
    position: absolute;
}

#home .seta-left{
    left: 5px;
}
#home .seta-right{
    right: 5px;
}

#home .button-double{
    float: left;
    font-size: 16px;
    font-weight: bold;
    /* min-height: 60px; */
    height: 50%;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle; 
    overflow: hidden;
}
#home .button-double p{
    /* margin-top: -10px; */
    /* top: 50%; */
    position: relative;
    width: 80%;
    /* display: block; */
    line-height: 60px;
    /* height: 100%; */
    float: left;
}
#home .button-despesas{
    background-color: #E50100;
    color: #FFF;
}
#home .button-receitas{
    background-color: #77CC33;
}
#home .button-sobre{
    background-color: #B8B8B1;
}
#home .button-plus{
    background: rgba(255, 255, 255, 0.3);
    border: none;
    float: right;
    height: 100%;
    position: relative;
    right: 0px;
    width: 20%;
    z-index: 2;
}
#home .button-plus .middle{
    margin-top: -10px;
    top: 50%;
    position: absolute;
}